.flex.flex-row.justify-center.mt-16.mb-4
 p.text-black.pr-2 Policies:
 a.text-blue-500.underline.pr-1(href="") Code Of Conduct ,
 a.text-blue-500.underline.pr-1(href="https://opensource.org/licenses/MIT") License ,
 a.text-blue-500.underline.pr-1(href="") Security ,
 a.text-blue-500.underline.pr-1(href="") Maintenance 
.text-center.text-xs.text-gray-900.mb-12 Copyright © 2020 
  a(class="hover:text-blue-500",href="https://getspooky.github.io/hello-world/",target="_blank") getspooky