.flex.items-center.justify-between.flex-wrap.mt-10
  .flex.flex-col.items-center
    img.mt-2(src='/static/assets/logo.png', alt='MasterMind', onClick="Welcome()")
  .nav.block.justify-end(class="lg:flex lg:items-center lg:w-auto")
    .text-blue-400.font-semibold.text-sm.w-full.block.flex-grow(class="lg:flex lg:items-center lg:w-auto")
      a.mr-4.border-underline(href='/login') Login
      a.mr-4.border-underline(href='/articles') Learn
      a.mr-4.border-underline(href='https://github.com/getspooky/MasterMind/issues') Ask for help
      a.mr-4.border-underline(href='/team') Team
      a.mr-4.border-underline(href='https://github.com/getspooky/MasterMind') Contribute on GitHub
