.flex.items-center.justify-between.flex-wrap.mt-2
  span.pt-4.font-bold.text-blue-500.text-5xl.italic.tracking-tight.fa.fa-graduation-cap |	MS
  .nav.block.justify-end(class="lg:flex lg:items-center lg:w-auto")
    .text-blue-400.font-semibold.text-sm.w-full.block.flex-grow(class="lg:flex lg:items-center lg:w-auto")
      a.mr-4.border-underline(href='') Login
      a.mr-4.border-underline(href='') Free Courses
      a.mr-4.border-underline(href='') LiveCast
      a.mr-4.border-underline(href='') Ask for help
      a.mr-4.border-underline(href='') Contribute on GitHub
