.bg-blue-800.text-center.py-4(class='lg:px-4')
  .p-2.bg-blue-700.items-center.text-blue-100.leading-none.flex(class='lg:rounded-full lg:inline-flex' role='alert')
    span.flex.rounded-full.bg-blue-500.uppercase.px-2.py-1.text-xs.font-bold.mr-3 #{__lang('global.component.alert.badge')}
    a.font-semibold.mr-2.text-left.flex-auto(href="https://spectrum.chat/mastermind",target="_blank") #{__lang('global.component.alert.message')}
    svg.fill-current.opacity-75.h-4.w-4(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
      path(d='M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z')
