.flex.flex-wrap.flex-col.justify-center.align-items.bg-blue-500.py-8
  h1.text-center.text-white.text-4xl.font-bold #{__lang('jumbotron.component.title')}
  p.text-center.text-white #{__lang('jumbotron.component.description')}