doctype html
head
  title MasterMind
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="/static/css/index.css")
body  
 include ./components/Alert.pug
 div(class="container mx-20 xl:px-40")
  include layouts/Header.pug
  block content
 script(src="/static/js/index.js") 