extends App.pug
block content
 h1.text-semibold.text-gray-900.text-3xl.mt-16 #{__lang('team.page.title')}
 p.text-gray-700.mt-4 #{__lang('team.page.description')}
 .bg-white.rounded-lg.p-6(class='md:flex')
  img.h-16.w-16.rounded-full.mx-auto(class='md:h-24 md:w-24 md:mx-0 md:mr-6' src='https://avatars2.githubusercontent.com/u/37160072?s=460&u=c71c5201b5d65dfa121657b2ea817f472ad999f8&v=4')
  .text-center(class='md:text-left')
    h2.text-lg getspooky
    .text-blue-500 FullStack Web Developer
    .text-gray-600 getspookydev@gmail.com
    .text-gray-600 Morocco , Casablanca
